---
import FooterBox from "./FooterBox.astro";

---

<footer class="bg-coffee-900 pt-20">
  <div class="max-w-7xl mx-auto mt-10">
    <FooterBox
      heading="Ubicación"
    />
    <p class="py-10 text-center text-white text-sm">
      Todos los derechos reservados. La Cafetería1939. &copy; {new Date().getFullYear()}
    </p>
  </div>
</footer>